<ng-container *ngIf="movie$ | async as movie">
    <div gdGap="20px" gdColumns="320px auto" gdRows="repeat(5, [row] 100%)" class="grid-margins">
        <div gdColumn="1" gdRow="1 / span 2">
            <div class="img-hover-zoom" fxFill>
                <img [src]="movie.Poster !== 'N/A' ? movie.Poster:'assets/no-movie-icon.png'"
                    style="height: 100%; width: 100%;">
            </div>
        </div>
        <div gdColumn="2" gdRow="1">
            <app-movie-title [details]="movie"></app-movie-title>
        </div>
        <div gdColumn="2" gdRow="2">
            <app-movie-director [director]="movie.Director"></app-movie-director>
        </div>
        <div gdColumn="1 / span 2" gdRow="3">
            <app-movie-cast [movieCast]="movie.Actors"></app-movie-cast>
        </div>
        <div gdColumn="1 / span 2" gdRow="4">
            <app-movie-ratings [ratings]="movie.Ratings"></app-movie-ratings>
        </div>
        <div gdColumn="2" gdRow="5" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" (click)="this.location.back()" style="margin-bottom: 10px;">Go
                back</button>
        </div>
    </div>
</ng-container>