<ng-container [ngSwitch]="shouldDisplayList">
    <ng-container *ngSwitchCase="false">
        <h3>Fill in the above form to get information about given films !</h3>
    </ng-container>
    <ng-container *ngSwitchCase="true">
        <ng-container *ngIf="(moviesData$ | async) as moviesResponse; else loading">
            <ng-container
                *ngTemplateOutlet="moviesResponse.Response == 'True' ? displayList : errorResponse; context: {response: moviesResponse}">
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #loading>
    <app-loading-spinner [loadingText]="'Loading movies...'"></app-loading-spinner>
</ng-template>


<ng-template #displayList>

    <div fxLayout="column" fxLayoutGap="10px" fxFill>

        <div *ngIf="totalMoviesFound">
            <h1>Search results</h1>
            <mat-divider></mat-divider>
            <div>
                <h3>
                    Total movies found: <span style="color: #3f51b5;">{{totalMoviesFound}}</span>
                </h3>
            </div>
            <mat-divider></mat-divider>
        </div>


        <div *ngFor="let movie of movies$ | async">
            <app-movie-list-item [movieData]="movie"></app-movie-list-item>
        </div>

        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onDownScroll()">
        </div>

        <div *ngIf="!allMoviesFetched">
            <ng-container *ngTemplateOutlet="loading"></ng-container>
        </div>

        <div *ngIf="allMoviesFetched" class="alert">
            All movies are already displayed !
        </div>
    </div>
</ng-template>


<ng-template #errorResponse let-response="response">
    {{response.Error}}
</ng-template>