<mat-card>
    <mat-card-header>
        <div mat-card-avatar fxLayoutAlign="center center">
            <mat-icon>search</mat-icon>
        </div>
        <mat-card-title>
            Search desired films
        </mat-card-title>
        <mat-card-subtitle>
            Information about films is provided by <a href="http://www.omdbapi.com/">OMDb API</a>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
            <div>testa</div>

            <div> tesaraseas</div>
        </div>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color='primary'>Search</button>
    </mat-card-actions>
</mat-card>