$image-size: 330px;

img {
    width: $image-size;
    cursor: pointer;
    display: block;
}

 .image-container { 
    position: relative;
    width: $image-size;
    h4 { 
        position: absolute;
        bottom: 0;
        left: 0;
        width: $image-size;
        padding: 20px 0 15px 5px;
        background: inherit;
        background-attachment: fixed;
        overflow: hidden;
        margin:0;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: $image-size;
            height: 100px;
            background: rgba(0, 0, 0, 0.678)
        }

        span {
            color: white;
            position: relative;
            z-index: 1;
        }
     }
 }

 .img-hover-zoom {
    overflow: hidden;
    img {
        transition: transform .5s ease;
    }

    &:hover {
        img {
            transform: scale(1.5);
        }
    }
 }


 .flex-size-adjust {
    max-width: $image-size; 
    min-width: $image-size;
 }
