$image-size: 330px;

img {
    width: $image-size;
}

// .image-container { 
//     position: relative; 

//     h1 { 
//         position: absolute; 
//         margin: 0;
//         span {
//             color: white; 
//             font: bold 24px/45px Helvetica, Sans-Serif; 
//             letter-spacing: -1px;  
//             background: rgb(0, 0, 0);
//             background: rgba(0, 0, 0, 0.7);
//             padding: 10px; 
//         }

//         &.first-rating {
//             bottom: 0;
//             left: 0%;
//         }

//         &.second-rating {
//             bottom: 0;
//             left: 40%;
//         }

//         &.third-rating {
//             bottom: 0;
//             left: 60%;
//         }
//      }

//  }



 .image-container { 
    position: relative; 

    h4 { 
        position: absolute;
        bottom: 0;
        left: 0;
        width: $image-size;
        padding: 20px 0 15px 5px;
        background: inherit;
        background-attachment: fixed;
        overflow: hidden;
        margin:0;
        margin-bottom: 5px;


        &::before {
            content: "";
            position: absolute;
            top: -20px;
            left: 0;
            width: $image-size;
            height: 100%;
            background: inherit;
            background-attachment: fixed;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: $image-size;
            height: 100px;
            background: rgba(0, 0, 0, 0.678)
        }

        span {
            color: white;
            position: relative;
            z-index: 1;
        }
     }
 }
