$image-size: 330px;

img {
    width: $image-size;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
}

 .image-container { 
    position: relative; 

    h4 { 
        position: absolute;
        bottom: 0;
        left: 0;
        width: $image-size;
        padding: 20px 0 15px 5px;
        background: inherit;
        background-attachment: fixed;
        overflow: hidden;
        margin:0;


        &::before {
            content: "";
            position: absolute;
            top: -20px;
            left: 0;
            width: $image-size;
            height: 100%;
            background: inherit;
            background-attachment: fixed;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: $image-size;
            height: 100px;
            background: rgba(0, 0, 0, 0.678)
        }

        span {
            color: white;
            position: relative;
            z-index: 1;
        }
     }
 }
